/***************************
        COMPONENTS
***************************/

/* SECTION */
.section{
    padding: 6rem 0 2rem;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
}

.section-title,
.section-subtitle{
    text-align: center;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* BUTTON */
.button{
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--title-color-dark);
}

.button-icon{
    margin-left: var(--mb-0-5);
}

.button-flex{
    display: inline-flex;
    align-items: center;
}
