/****************************
            GLOBAL
****************************/

:root {

    /* Margin Bottom */

    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;

    --mb-1: 1rem;
    --mb-1-5: 1.5rem;

    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    --mb-3: 3rem;

    /* Z Index */

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}