/****************************
            GLOBAL
****************************/

:root {

    /* Header Height */
    --header-height: 3rem;

    /* Margin Bottom */

    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;

    --mb-1: 1rem;
    --mb-1-5: 1.5rem;

    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    --mb-3: 3rem;

    /* Z Index */

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* BREAKPOINTS */

/* For large devices */
@media screen and (max-width: 992px) {
    .container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .button{
        padding: 1rem 1.75rem;
    }

    .button-icon{
        width: 1.375rem;
        height: 1.375rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .section{
        padding: 2rem 0 4rem;
    }
}

@media screen and (max-width: 576px) {

}

/* For small devices */
@media screen and (max-width: 350px) {

    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}